#chairnums{
	background: url("../images/parliament.png") no-repeat;
    background-position: center center;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    min-width: 400px;
}

.footer{
    background: url("../images/footer-bg.png") repeat;
    padding: 30px 0 30px 0;
    text-align: center;
    color: #f5f5f5;
}

.content{
    min-height: 400px;
}