{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="marketing">
        <h3>getDemocracy() nedir?</h3>

        <div class="row-fluid">
            <blockquote>
                <p>Bu proje, parlamenterlerin halk tarafından denetlenebileceğini ve denetlenmesi gerektiğini göstermeyi
                    amaçlayan bir analiz projesidir. Seçimler demokrasinin tek aracı değildir ve demokrasi "oy ver
                    ve unut" demek değildir.</p>
            </blockquote>
            <blockquote>
                <p><span class="text-error">Amacı</span>, iktidarı, muhalefeti veya bir zümreyi hedef alan, birini
                    diğerine üstün çıkartmaya çalışan yöntemlerle değil, meclisin tümünü ele alan bir yaklaşımla
                    okunabilir, kompozit ve anlamlı bir bilgi ortaya çıkarabilmektir.</p>
            </blockquote>
            <blockquote>
                <h4>Etimoloji</h4>
                <p>getDemocracy() tamamen yazılımcı jargonundan kaynaklı bir isim. "Hak verilmez alınır"a güzel bir selam çakar.</p>
            </blockquote>
        </div>
        <h3>Ne yapabilirim?</h3>
        <div class="row-fluid">
            <blockquote>
                <p>En kolayı ve güzeli fikirlerinle destek olabilirsin. Sakın <u>"bu söylenmiştir, düşünülmüştür, kesin
                    vardır, vs."</u> diye düşünme. Sağ taraftaki kulakçığa tıkla ve fikirlerini paylaş. Bu gerçekten çok
                    önemli.</p>

                <p>Bu fikri daha çok insanla paylaşmak ve yaymak da bir o kadar önemli. O yüzden getdemocracy'yi sosyal
                    ağlardan paylaş, duyur.</p>

                <p>Tüm bu işlerin sonucunda istediğimiz ülkemizin katılımcı demokrasisine bir katkımızın olması.</p>
            </blockquote>
            <blockquote>
                <p>Şeffaf bir şekilde (çok da fazla olmayan) ihtiyaçlarımızı yakında paylaşacağız. Sürdürülebilir olmak
                    öncelikli hedefimiz.</p>
            </blockquote>
        </div>
        <h3>Profesyonel destekçiler;</h3>
        <div class="row-fluid">
            <blockquote>
                <p>Projenin açık kaynak kodlu olması yazılım, iletişim ve tasarım konularının uzmanlarına doğrudan katkı imkanı tanıyor.</p>
                <p>Destek vermek için <a href="mailto:admin@getdemokrasi.com">admin@getdemokrasi.com</a> adresine bir mail atmanız veya footerdaki github reposuna pull requestte bulunmanız yeterli.</p>
                <p>Her türlü geliştirme desteği (yazılım/tasarım/içerik) memnuniyetle karşılanacaktır.</p>
            </blockquote>
        </div>
    </div>
{% endblock %}