{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Get Democracy Türkiye</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
  body {
    background: url('{% static "images/bg.png" %}') repeat;
  }
  </style>
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
  <link href="{% static "css/custom.css" %}" rel="stylesheet">
  <link href="{% static "css/docs.css" %}" rel="stylesheet">
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">GetDemocracy();</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil icon-white"></i> Detay<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url detail %}"><i class="icon-user"></i> Vekil</a></li>
                                <li><a href="#"><i class="icon-flag"></i> Parti</a></li>
                                <li><a href="#"><i class="icon-map-marker"></i> Şehir</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="icon-star icon-white"></i> En'ler</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="container">

		{% block content %}

		{% endblock %}

	</div>
    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <p>GetDemocracy <a href="http://www.gnu.org/philosophy/free-sw.html">özgür</a> bir yazılımdır. <a href="/static/COPYING.txt">GNU GPL lisansı</a> ile sunulmaktadır.</p>
                <p>copyright 2013 Get_Democracy()</p>
            </div>
        </div>
    </footer>
</body>
</html>