{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="marketing">
    <div class="row-fluid">
        <div class="form-inline">
            <label class="control-label" for="search_mv">Bilgilerini görmek istediğiniz milletvekilinin adını yazınız:</label>
            <input type="text" id="search_mv" data-items="8" class="span4" autocomplete="off"/>
            <input type="hidden" id="mvid" />
            <button class="btn btn-primary" onclick="postThemAll()">Ara</button>
        </div>
    </div><br><br>
    <div class="row-fluid">
        <div id="mv_pic" class="span2"></div>
        <div id="result" class="span4"></div>
    </div>
    </div>
{% if mvdata %}

    <script>
    names = [];
    ids = {};
    $.getJSON('/getmvdata/all/', function (data) {
        $.each(data, function(i,item) {
            ids[item.fields.name] = item.pk;
            names.push(item.fields.name);
        });
    });
    $("#search_mv").typeahead({
        source:names,
        updater: function (item) {
            $('#mvid').val(ids[item]);
            return item;
        }
    });
    </script>

{% endif %}
    <script>
        function postThemAll(){
            $.getJSON('/getmvdata/'+$('#mvid').val(),function(data){
                $('#result').html(
                        '<table id="result-table" class="table table-bordered table-striped"><tbody><tr><td>Sunduğu Kanun Teklifleri</td><td>' + data[0].fields.ilk_kanun + '</td></tr>'
                        + '<tr><td>İmzaladığı Kanun Teklifleri</td><td>' + data[0].fields.kanun + '</td></tr>'
                        + '<tr><td>Sunduğu Meclis Araştırma Önergeleri</td><td>' + data[0].fields.ilk_mao + '</td></tr>'
                        + '<tr><td>İmzaladığı Meclis Araştırma Önergeleri</td><td>' + data[0].fields.mao + '</td></tr>'
                        + '<tr><td>Sunduğu Genel Görüşme Önergeleri</td><td>' + data[0].fields.ilk_ggo + '</td></tr>'
                        + '<tr><td>İmzaladığı Genel Görüşme Önergeleri</td><td>' + data[0].fields.ggo + '</td></tr>'
                        + '<tr><td>Sunduğu Gensoru Önergeleri</td><td>' + data[0].fields.ilk_go + '</td></tr>'
                        + '<tr><td>İmzaladığı Gensoru Önergeleri</td><td>' + data[0].fields.go + '</td></tr>'
                        + '<tr><td>Yazılı Soru Önergeleri</td><td>' + data[0].fields.yso + '</td></tr>'
                        + '<tr><td>Sözlü Soru Önergeleri</td><td>' + data[0].fields.sso + '</td></tr></tbody></table>'
                );
            });
            $('#mv_pic').html(
                '<img src="http://www.tbmm.gov.tr/mv_resim/' 
                + $('#mvid').val() + '.jpg"/>');
            $('#search_mv').val('');
        }
    </script>
{% endblock %}