{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% if mnote %}
        <h1>{{ mnote }}</h1>
    {% endif %}
    <div class="row">
        <div id="chairnums" class="span12"></div>
    </div>
    <script src="{% static "js/highcharts.js" %}"></script>
    {% if partypercent %}

        <script type="text/javascript">
            $(function () {
                var chart;
                $(document).ready(function () {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'chairnums',
                            backgroundColor: null,
                            plotBackgroundColor: 'none',
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: 'TBMM Sandalye Sayıları'
                        },
                        subtitle: {
                            text: 'Tarih: {{ tarih|date:"d m Y" }}'
                        },
                        tooltip: {
                            pointFormat: '<b>{point.y} sandalye</b>',
                            percentageDecimals: 1
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    color: '#000000',
                                    distance: 25,
                                    connectorColor: '#000000',
                                    formatter: function () {
                                        return '<b>' + this.point.name + '</b>';
                                    }
                                },
                                showInLegend: false
                            }
                        },
                        series: [
                            {
                                type: 'pie',
                                innerSize: '55%',
                                name: 'Sandalye Paylaşımı',
                                data: [
                                        {% for mv in partypercent %}{name: '{{mv.party}}',y: {{mv.dcount}}
                                            },{% endfor %}
                                ]
                            }
                        ]
                    });
                });

            });

        </script>
    {% endif %}

    <p style="text-align: center;">Size böylesine hakim olan kişinin iki eli, iki gözü ve bir bedeni var.<br>Sizden tek farkı sizin ona sağladığınız üstünlük.
        <br>
        <br>
        <span style="font-size: 18px; text-decoration: underline">Sizin tarafınızdan verilmiş olmasa, üzerinizde nasıl iktidar olabilir?</span>
    </p>
    <h5 style="float: right">Etienne de la Boetie <i>"Gönüllü kulluk üzerine söylev - 1548"</i></h5>
{% endblock %}