{% extends "base.html" %}
{% block content %}
<h3>get democracy right now!!</h3>
{% if filelist %}
{% for file in filelist %}
 {{ file }}<br>
{% endfor %}
{% endif %}
{% if mv_info %}
<table>
	Milletvekilleri Listesi
	<tr>
		<td>Adı Soyadı</td>
		<td>Parti</td>
		<td>Şehir</td>
	</tr>
{% for mv in mv_info %}
	<tr>
		<td>{{mv.MVNAME}}</td>
		<td>{{mv.MVPARTY}}</td>
		<td>{{mv.MVCITY}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% if update_status %}
<b>{{ update_status }}</b>
{% endif %}

{% endblock %}